@import url("main.css");

h1 {
    font-size: 2rem;
}

main .wrapper {
    padding: 2rem;
}

.faq-intro {
    background-image: url("../images/thinking-man.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.faq-intro-content {
    color: #F2ECFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.faq-intro h1 {
    color: #F2ECFF;
    text-align: center;
}

.faq-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-accordion {
    border-radius: 1rem;
    overflow: hidden;
}

.question:not(:last-child) {
    border-bottom: 1px solid #F2ECFF;
}

.question {
    cursor: pointer;
    background-color: #615FAD;
    color: #F2ECFF;
    padding: 2rem 1rem;
}

.answer {
    display: none;
    max-width: 1200px;
    padding: 2rem 4rem;
}

.hyperlink {
    display: inline-block;
    color: #615FAD;
}

.hyperlink:hover {
    transform: scale(1.04);
    transition: transform 300ms ease-in-out;
}

.after-faq-section {
    background: linear-gradient(90deg, rgba(97, 95, 173, 1) 0%, rgba(232, 123, 119, 1) 100%);
    min-height: 50vh;
    display: flex;
}

.after-faq-section .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.after-faq-section h1 {
    color: #F2ECFF;
}

.contact-us-btn {
    font-size: 1.2rem;
    color: #615FAD;
    background-color: #F2ECFF;
    padding: 2rem 4rem;
    border-radius: 1rem;
    transition: transform 1s ease-in-out;
}

.answer-active>.answer {
    display: block;
}

.contact-us-btn:hover {
    transform: scale(1.2);

}

@media (max-width: 320px) {
    .answer {
        padding: 1rem;
    }
}